body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 10px;
}

.logo {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.netflixer-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em; /* Same size as the previous 'emotion based movie recommender' */
    color: #f5c518;
    margin-top: 5px;
}

.login-container,
.signup-container {
    background-color
