body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logout-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 10px;
}

.logo {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.netflixer-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em; /* Same size as the previous 'emotion based movie recommender' */
    color: #f5c518;
    margin-top: 5px; /* Move closer to logo */
}

.title {
    font-family: 'Safira March', serif;
    font-size: 2.5em; /* Slightly smaller size */
    color: white;
    margin-top: 20%;
}

.emotion-selector {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 10cm;
}

.emotion-selector h1 {
    font-family: 'DynaPuff', cursive;
    font-size: 2em;
    margin-bottom: 20px;
}

.emotion-selector p {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.emotion-selector button {
    font-family: 'Playfair Display', serif;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.happy { background-color: #ffeb3b; }
.sad { background-color: #2196f3; }
.angry { background-color: #f44336; }
.mixed { background-color: #9c27b0; }

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    .logo {
        text-align: right;
        margin: 10px 20px 0 0;
        align-items: flex-end;
    }

    .logo img {
        width: 100px; /* Smaller width for mobile */
        height: auto; /* Maintain aspect ratio */
    }

    .netflixer-text {
        font-size: 1.5em; /* Smaller size for mobile */
        margin-top: 2px; /* Move closer to logo */
    }

    .title {
        font-size: 2em; /* Smaller size for mobile */
        margin-top: 10%;
    }

    .emotion-selector {
        width: 100%; /* Full width for mobile */
        padding: 10px;
    }

    .emotion-selector h1,
    .emotion-selector p,
    .emotion-selector button {
        font-size: 1em; /* Smaller size for mobile */
    }
}
