body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 10px;
}

.logo {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.netflixer-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    color: #f5c518;
    margin-top: 5px;
}

.login-container,
.signup-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 300px;
}

.login-container h1,
.signup-container h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-container button,
.signup-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.login-container button:hover,
.signup-container button:hover {
    background-color: #f40612;
}

.signup {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup span {
    color: white;
    margin-right: 10px;
}

.signup-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.main-container {
    display: none; /* Hide initially */
}

.title {
    font-family: 'Safira March', serif;
    font-size: 2.5em;
    color: white;
    margin-top: 20%;
    text-align: center;
}

.emotion-selector {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 10cm;
}

.emotion-selector h1 {
    font-family: 'DynaPuff', cursive;
    font-size: 2em;
    margin-bottom: 20px;
}

.emotion
